CandiesSellerWPF/CandiesSellerWPF/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Candies" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CandiesSellerWCF.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICandies_getStock_InputMessage">
    <wsdl:part name="parameters" element="tns:getStock" />
  </wsdl:message>
  <wsdl:message name="ICandies_getStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStockResponse" />
  </wsdl:message>
  <wsdl:message name="ICandies_setStock_InputMessage">
    <wsdl:part name="parameters" element="tns:setStock" />
  </wsdl:message>
  <wsdl:message name="ICandies_setStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStockResponse" />
  </wsdl:message>
  <wsdl:message name="ICandies_getPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrice" />
  </wsdl:message>
  <wsdl:message name="ICandies_getPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ICandies_setPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:setPrice" />
  </wsdl:message>
  <wsdl:message name="ICandies_setPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:setPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ICandies_setOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:setOrder" />
  </wsdl:message>
  <wsdl:message name="ICandies_setOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:setOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ICandies">
    <wsdl:operation name="getStock">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandies/getStock" message="tns:ICandies_getStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandies/getStockResponse" message="tns:ICandies_getStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStock">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandies/setStock" message="tns:ICandies_setStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandies/setStockResponse" message="tns:ICandies_setStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandies/getPrice" message="tns:ICandies_getPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandies/getPriceResponse" message="tns:ICandies_getPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandies/setPrice" message="tns:ICandies_setPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandies/setPriceResponse" message="tns:ICandies_setPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICandies/setOrder" message="tns:ICandies_setOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICandies/setOrderResponse" message="tns:ICandies_setOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICandies" type="tns:ICandies">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStock">
      <soap:operation soapAction="http://tempuri.org/ICandies/getStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStock">
      <soap:operation soapAction="http://tempuri.org/ICandies/setStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="http://tempuri.org/ICandies/getPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPrice">
      <soap:operation soapAction="http://tempuri.org/ICandies/setPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setOrder">
      <soap:operation soapAction="http://tempuri.org/ICandies/setOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Candies">
    <wsdl:port name="BasicHttpBinding_ICandies" binding="tns:BasicHttpBinding_ICandies">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CandiesSellerWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>