CandiesSellerWPF/CandiesSellerWPF/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CandiesSellerWCF.Business" />
  <xs:element name="getStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CandiesSellerWCF.Business" minOccurs="0" name="getStockResult" nillable="true" type="q1:stockBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Skittles_d" type="xs:int" />
        <xs:element minOccurs="0" name="cottoncandy_d" type="xs:int" />
        <xs:element minOccurs="0" name="creamegg_d" type="xs:int" />
        <xs:element minOccurs="0" name="jawbreaker_d" type="xs:int" />
        <xs:element minOccurs="0" name="redvinelicornes_d" type="xs:int" />
        <xs:element minOccurs="0" name="sugardaddy_d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CandiesSellerWCF.Business" minOccurs="0" name="getPriceResult" nillable="true" type="q2:priceBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Skittles_cost_d" type="xs:int" />
        <xs:element minOccurs="0" name="cottoncandy_cost_d" type="xs:int" />
        <xs:element minOccurs="0" name="creamegg_cost_d" type="xs:int" />
        <xs:element minOccurs="0" name="jawbreaker_cost_d" type="xs:int" />
        <xs:element minOccurs="0" name="redvinelicornes_cost_d" type="xs:int" />
        <xs:element minOccurs="0" name="sugardaddy_cost_d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setPriceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CandiesSellerWCF.Business" minOccurs="0" name="unUser" nillable="true" type="q3:userBusiness" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CandiesSellerWCF.Business" minOccurs="0" name="uneOrder" nillable="true" type="q4:Panier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>